# Nested if

Requirement:
- Bike
- 125
- Honda
- 2025
- Red
- New

In [9]:
vehicle = input('Beta kia chaye? ')
if vehicle == 'Bike':
    cc = input('Konsi cc chaye? ')
    
    if cc == '125':
        company = input('Konsi company ki? ')
        
        if company == 'Honda':
            model = input('Konsa model chaye? ')
            
            if model == '2025':
                color = input('Acha color batao? ')
                if color == 'Red':
                    condition = input('Acha new chaye ya purani? ')
                    
                    if condition == 'New':
                        print('Thek hai bhae, done')
                    else:
                        print('Nahi chaye')
                    
                else:
                    print('Red hi chaye')
                
            else:
                print('Mjhe to 25 ka chaye bhae')
            
        else:
            print('Me te honda ee laysan')
    else:
        print('Mjhe 125 chaye')
    
else:
    print('Beta kuch or mango')

Beta kia chaye? Bike
Konsi cc chaye? 125
Konsi company ki? Honda
Konsa model chaye? 2025
Acha color batao? Red
Acha new chaye ya purani? New
Thek hai bhae, done

In [ ]:
Bike
125
Honda
2025
Red
New

In [10]:
("A" != "A")

False

In [11]:
(2 >= 3)

False

In [ ]:
or not (2 >= 3)

In [ ]:
False or not False

In [12]:
not False

True

In [13]:
False or True

True

In [14]:
not True

False

# Loops
- for
- while

In [16]:
for variable_name in range(5):
    print('This is a line')

This is a line
This is a line
This is a line
This is a line
This is a line

In [20]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [22]:
#  for variblae in iterable
for num in range(1,11):
    print(f'2 x {num} = {2*num}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [23]:
cities = ['karachi', 'lahore', 'quetta']

In [24]:
for city in cities:
    print(city)

karachi
lahore
quetta

In [26]:
data = {
  "name": "Alice",
  "age": 20,
  "major": "Computer Science"
}

In [30]:
data.items()

dict_items([('name', 'Alice'), ('age', 20), ('major', 'Computer Science')])

In [37]:
for key, value in data.items():
    print(f'The key is {key} and the value is {value}')

The key is name and the value is Alice
The key is age and the value is 20
The key is major and the value is Computer Science

In [33]:
fruits = ('apple', 'mango', 'orange')

## Unpacking

In [34]:
a, b, c = ('apple', 'mango', 'orange')

In [35]:
print(a)
print(b)
print(c)

apple
mango
orange

In [36]:
fruits

('apple', 'mango', 'orange')

In [39]:
for key, value in data.items():
    print('I dont want to show anything')

I dont want to show anything
I dont want to show anything
I dont want to show anything

In [ ]:
name alice